.header {
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 400px;
    display: flex;
    align-items: center;

}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    background-color: lightblue;
    width: 200px;
}